/************************************************
GALLERY
Gallery Subpage
Last updated by :- Dave Wakely
Date of last update :- 06/12/2014
************************************************/


.gallery_blocks li{
	height: auto;
    width: auto;
    float: left;
    list-style: none;
}

.gallery_blocks li img{
    display: block;
    margin: 5px 3px;
    height: auto;
    width: 280px;
}