/********************************************************
CSS coded by Dave & Neil Wakely
(C) Guru Computers Ltd

Last updated by :- Neil Wakely
Last Update :- Created Basic settings
Date of last update :- 12/11/2014
********************************************************/

#logo {
	width: 300px;
	height: 80px;
	margin: 10px 0 10px 10px;
}
